/* CSS variables for color scheme */
:root {
  --offwhite: rgb(235, 229, 229);
  --offblack: rgb(36, 33, 33);
  --red: rgb(204, 79, 79);
}

* {
  box-sizing: border-box;
  margin: auto;
  /* max-width: 1200px; */
  max-height: 700px;
}

body {
  background-color: var(--offwhite);
  font-family: Didot, 'Times New Roman', Times, serif;
  color: var(--offblack);
}

/* vertical sidebar header */
.header {
  writing-mode: vertical-rl;
  text-orientation: upright;
  letter-spacing: -5px;
  font-size: 20px;
  text-shadow: -0.2px 0 var(--red), 0 0.2px var(--red), 0.2px 0 var(--red), 0 -0.2px var(--red);
  color: var(--offblack);

  margin: 10px 0px 0px 30px;
  position: fixed;
  left: 0;
  top: 0;

  border: solid 2px var(--offblack);
  border-radius: 10px;
  padding: 5px;
  background-color: white;
  box-shadow: 5px 5px 5px lightgray;
}

.header:hover {
  color: var(--offwhite);
  background-color: var(--offblack);
  border: solid 2px white;
  transition: .4s;
  transition-timing-function: ease-in;
}

/* footer text */
.footer_text {
  margin-left: 20px;
  margin-bottom: 5px;
  position: absolute;
  bottom: 0;
  font-size: 18px;
  color: var(--offwhite);
}

/* wrapper div which includes background image of portrait wall */
.wrapper {
  width: 1200px;
  height: 700px;
}

#background_img {
  width: 1200px;
  height: 640px;
  margin: 5px;

  border: solid 5px var(--offblack);
  border-radius: 10px;
  box-shadow: 1px 1px 1px lightgray;
}

/* style for individual photographs on image pages */
.img_page {
  border: solid 5px var(--offblack);
  border-radius: 10px;
  box-shadow: 3px 3px 3px lightgray;
  margin: 5px 25px 5px 5px;

  float: left;
}

.caption_page {
  font-size: 32px;
}

.r2p2_names {
  font-size: 22px;
}

.dates {
  font-size: 28px;
  text-decoration: underline var(--red);
}

.text_div {
  padding-top: 270px;
}

.text_div_2 {
  padding-top: 200px;
}

/* clear fix hack */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* remove css style for homepage link */
a {
  color: var(--offblack);
  text-decoration: none;
}

/* footer positioning and style */
.footer {
  width: 100%;
  height: 40px;

  border-top: solid 3px var(--red);
  position: sticky;
  bottom: 0;
  z-index: 1;
  background-color: var(--offblack);
}