/* CSS variables for color scheme */
:root {
  --offwhite: rgb(235, 229, 229);
  --offblack: rgb(36, 33, 33);
}

* {
  box-sizing: border-box;
  margin: auto;
  max-width: 1200px;
  max-height: 700px;
}

body {
  background-color: var(--offwhite);
  font-family: Didot, 'Times New Roman', Times, serif;
}

.header {
  writing-mode: vertical-rl;
  text-orientation: upright;
  letter-spacing: -5px;
  font-size: 20px;

  margin: 10px 0px 0px 35px;
  position: fixed;
  left: 0;
  top: 0;

  border: solid 2px var(--offblack);
  border-radius: 10px;
  padding: 5px;
  background-color: white;
  box-shadow: 3px 3px 3px lightgray;
}

.subheader {
  margin-left: 20px;
  font-size: 18px;
  color: var(--offblack);
}

.wrapper {
  width: 1200px;
  height: 700px;
}

#background_img {
  width: 1200px;
  height: 700px;
  margin: 5px;

  border: solid 5px var(--offblack);
  border-radius: 10px;
  box-shadow: 3px 3px 3px lightgray;
}

.img_page {
  border: solid 5px var(--offblack);
  border-radius: 10px;
  box-shadow: 3px 3px 3px lightgray;
  margin: 5px 25px 5px 5px;

  float: left;
}

.caption_page {
  font-size: 32px;
}

.r2p2_names {
  font-size: 22px;
}

.dates {
  font-size: 28px;
}

.text_div {
  padding-top: 270px;
}

.text_div_2 {
  padding-top: 200px;
}

/* clear fix hack */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* remove css style for homepage link */
a {
  color: var(--offblack);
  text-decoration: none;
}