* {
  box-sizing: border-box;
  margin: auto;
  width: 1200px;
  height: 700px;
}

.wrapper {
  width: 1200px;
  height: 700px;
}

#background_img {
  width: 1200px;
  height: 700px;
  margin: 5px;

  border: solid 5px rgb(36, 33, 33);
  border-radius: 10px;
  box-shadow: 3px 3px 3px lightgray;
}